<div class="row">
    <div class="col-4">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" href="/apphome">Home</a>
            <a class="list-group-item list-group-item-action" href="/tiles">Tiles</a>
            <a class="list-group-item list-group-item-action" href="/sanitary">Sanytary</a>
            <a class="list-group-item list-group-item-action" href="/wasted">Wasted Items</a>
            <a class="list-group-item list-group-item-action" href="/dailysales">Daily Sales Report</a>
            <a class="list-group-item list-group-item-action" href="/dailysales">Highly Sold Item</a>
            <a class="list-group-item list-group-item-action" href="/dailysales">Deit</a>
            <a class="list-group-item list-group-item-action" href="/dailysales">Credit</a>
            <a class="list-group-item list-group-item-action" href="/dailysales">Customars</a>
            <a class="list-group-item list-group-item-action" href="/dailysales">Suppliers</a>
        </div>
    </div>
</div>