nav(class='navbar navbar-expand-lg navbar-dark bg-dark fixed-top')
    div.container
        a(class="navbar-brand" href="/showAllProducts") A.R Tiles
        button(class="navbar-toggler" type="button" data-toggle="collapse" 
            data-target="#navbarContent")
            span.navbar-toggler-icon
        div(class="collapse navbar-collapse" id="navbarContent")
            ul.navbar-nav.mr-auto
                li.nav-item.active
                    a(class="nav-link" href="/viewAddProductForm") + Add Product
                li.nav-item
                    a(class="nav-link" href="/showSearchProductForm") Search Product
                li.nav-item
                    a(class="nav-link" href="/showAllProducts") Show All Products
                li.nav-item
                    a(class="nav-link" href="#") Show Stock
