<%- include('partials/header') %> 

<div class="jumbotron bg-light">
    <h1 class="display-1 text-center text-danger">Welcome To A.R Tiles</i></h1>
    <p class="lead text-center">Barvanga Road, Jibannagar, Chuadanga</p>
    <h4 class="display-4 text-center mb-5">BEFORE USE THIS APP PLEASE SIGN IN</h4>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 mt-3 m-auto">
                <div class="card text-center shadow-sm">
                    <div class="card-body">
                        <a href="/signin" class="btn btn-success mr-2">SignIn</a>
                        <!-- <a href="/signup" class="btn btn-primary mr-2">SignUp</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') %>