<%- include('partials/header') %>
<div class="jumbotron text-center">
    <h1 class="display-1">My Secret Page</h1>
    <button class="btn btn-primary">Log Out</button>
</div>

<%- include('partials/footer') %>